<div class="row">
	<div class="col-md-12">
	  <h1>About Page</h1>
	  <hr />
	  <p>Hello! I'm Happy Akter (Student ID: 170933238).</p>
	  <p>This webpage is part of WEB700 Assignment 5 for the Business Information Technology program at Seneca College.</p>
	  <p>Thank you for visiting the site!</p>
	</div>
  </div>
  