<div class="row">
    <div class="col-md-12">
      <h1>Welcome to WEB700</h1>
      <hr />
      <p>This site demonstrates HTML5 concepts, Bootstrap styling, and Express routing with EJS rendering.</p>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/students">All Students</a></li>
        <li><a href="/htmlDemo">HTML Demo</a></li>
        <li><a href="/students?course=3">Students by Course</a></li>
        <li><a href="/student/1">View Single Student</a></li>
        <li><a href="/courses">All Courses</a></li>
        <li><a href="/students/add">Add Student</a></li>
      </ul>
    </div>
  </div>
  