<div class="row">
    <div class="col-md-12">
      <h2>HTML Elements Demo</h2>
      <hr />
  
      <h3>Tables</h3>
      <table class="table table-bordered">
        <caption>Colors in Different Languages</caption>
        <thead class="thead-dark">
          <tr><th>English</th><th>French</th><th>Spanish</th></tr>
        </thead>
        <tbody>
          <tr><td>Yellow</td><td>Jaune</td><td>Amarillo</td></tr>
          <tr><td>Blue</td><td>Bleu</td><td>Azul</td></tr>
          <tr><td>Red</td><td>Rouge</td><td>Rojo</td></tr>
        </tbody>
      </table>
  
      <h3>Lists</h3>
      <ul>
        <li>British Columbia</li>
        <li>New Brunswick</li>
        <li>GTA
          <ol>
            <li>Toronto</li>
            <li>Markham</li>
            <li>Vaughan</li>
          </ol>
        </li>
      </ul>
  
      <h3>Images</h3>
      <img src="https://globalbridge-edu.com/wp-content/uploads/2024/04/Seneca-Polytechnic-Newnham-Campus.jpg" class="img-fluid" alt="Seneca">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Canada_%28Pantone%29.svg" class="img-fluid" alt="Canada Flag">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" class="img-fluid" alt="Node.js Logo">
  
      <h3>Audio</h3>
      <audio controls>
        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg" />
      </audio>
  
      <h3>Video</h3>
      <video width="640" height="360" controls>
        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
  